<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Comingsoon/style.css">
    <title>Inspirtrip Home</title>
</head>

<body>

 
        <div class="row">
            <div class="col-sm">
                <img src="/Content/Comingsoon/images/logoinspirtripblack.png" alt="Inspirtrip" width="200" height="200" id="logo">
            </div>
            <div class="col-sm">
                
            </div>
            <div class="col-sm">
                
            </div>
            <div class="col-sm">
                <span class="pull-right"><button type="button" class="btn btn-info">Log in</button></span>
            </div>
            
            
            
            
            
            
        </div>      
           <div id="parallax">  
               <div class="overheadtext"> Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet  </div>   
               <div class="overheadtext">  </div>   

           <input type="submit" id="submit" value="Submit"> 
            <input type="submit" id="beta-invite" value="Beta Invite">
        </div>
        </div>
        </div> 
    </div> 
</div> 

      
        <div id="row-itinerary">
                <div class="col-md-4">
                        <div class="itinPic text-center" style="background-color:rgba(0,0,0,0.1);background-image: url('/Content/Comingsoon/images/foto1.jpeg')"> 
                        <h2 id="text-itin"> Stockholm itinerary <br> </h2>
                            <h3 id="highlights"> € 140 / 2 days </h3>
                        </div>
                    </div>
        
          
            <div class="col-md-4">
                <div class="itinPic text-center" style="background-color:rgba(0,0,0,0.1);background-image: url('/Content/Comingsoon/images/foto2.JPG')"> 
                    <h2 id="text-itin"> Amsterdam Itinerary </h2>
                    <h3 id="highlights"> € 140 / 2 days </h3>
                </div>
            </div>
            <div class="col-md-4">
            <div class="itinPic" style="background-image: url('/Content/Comingsoon/images/foto3.JPG')"> <h2 id="text-itin"> Three days of amazing Marrakesh </h2> <br> 
            <h2 id="highlights"> € 100 / 3 days </h3>
        </div>
        </div>
    </div>

    </div>

   
    <div id="row-itinerary">
            <div class="col-md-4">
                    <div class="itinPic text-center" style="background-color:rgba(0,0,0,0.1);background-image: url('/Content/Comingsoon/images/foto5.jpg')"> 
                    <h2 id="text-itin"> Mt. Cook, New Zealand  </h2>
                        <h3 id="highlights"> € 140 / 2 days </h3>
                    </div>
                </div>
    
      
        <div class="col-md-4">
            <div class="itinPic text-center" style="background-color:rgba(0,0,0,0.1);background-image: url('/Content/Comingsoon/images/foto6.jpg')"> 
                <h2 id="text-itin"> The Netherlands, beyond Amsterdam    </h2>
                <h3 id="highlights"> € 140 / 2 days </h3>
            </div>
        </div>
        <div class="col-md-4">
        <div class="itinPic" style="background-image: url('/Content/Comingsoon/images/foto9.jpeg')"> <h2 id="text-itin"> Where to go in Bali for 3 days  </h2> 
        <h3 id="highlights"> € 100 / 3 days </h3>
    </div>
    </div>
</div>

</div>
</body>
<footer> 


</footer>
</html>